@using Wallet.Wise.DAL.Entities
@model Wallet.Wise.DAL.Entities.Category

@{
    ViewData["Title"] = "Edit";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyCode" class="control-label"></label>
                <input asp-for="CurrencyCode" class="form-control" />
                <span asp-validation-for="CurrencyCode" class="text-danger"></span>
            </div>
             <div class="form-group">
                 <label asp-for="CategoryType"></label>
                 <select asp-for="CategoryType" asp-items="Html.GetEnumSelectList<CategoryType>()" class="form-select"></select>
             </div>
            <div class="btn-toolbar my-3" role="toolbar">
                <div class="btn-group me-2" role="group">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
                <div class="btn-group me-2" role="group">
                    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                </div>
                <div class="btn-group" role="group">
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
